body {
    background-color: darkgray;
}

div {
    width: 40%;
    margin: auto;
    margin-top: 110px;
    padding: 45px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#results {
    font-weight: bold;
}